:root {
    --bg: #f9f9f9;
    --text: #333;
    --card: #ffffff;
}

.dark {
    --bg: #121212;
    --text: #eaeaea;
    --card: #1e1e1e;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial;
    margin: 0;
}

header {
    padding: 15px;
    background: var(--card);
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.skills span {
    background: #3498db;
    color: white;
    padding: 6px 10px;
    margin: 4px;
    border-radius: 20px;
}

.card {
    background: var(--card);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

.fade-in {
    animation: fade 0.6s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px)
    }

    to {
        opacity: 1
    }
}